*.apk
*.class
*.ctxt
*.ear
*.hprof
*.iml
*.jar
*.jks
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.DS_Store
.cxx
.cxx/
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.idea/
.kotlin/
.mtj.tmp/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
app-release.dm
build/
captures/
deploymentTargetDropDown.xml
genReleaseKey.sh
google-services.json
hs_err_pid*
local.properties
misc.xml
my-release-key.jks
output.json
render.experimental.xml
replay_pid*
